.post + post {
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;

}

.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding:2.5rem;
    /* overflow-y: scroll; */
    margin-bottom: 0.75rem;
    width: 516px;
  height: 353px;
  /* margin: 40px 425px 56px;
  padding: 24px;
  border-radius: 3px;
  border: solid 1px #3b3b3b;
  background-color: #313131; */

}

.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--purple-400);   
    text-decoration: none;
}

.content a:hover {
    color: var(--purple-400);
}

.content img {
    margin-top: 1rem;
    width: 50rem;
    height: 30rem;
    border-radius: 8px;
    padding: 0.2rem;
    object-fit: cover;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
   
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
}






.commentList {
    margin-top: 2rem;
}

